body {
    background-color: #cceeff;  
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    color: #003366; 
}

nav {
    background-color: #99ddff; 
    padding: 10px 20px;
    border-radius: 8px;
    margin: 20px 10px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 30px;
}

nav a:hover {
    background-color: #66ccff; 
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e6f7ff; 
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

th, td {
    border: 1px solid #99ddff;
    padding: 10px;

}

th {
    background-color: #99ddff;
    color: #003366;
}

button, input[type="submit"] {
    background-color: #66ccff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #3399ff;
}

input[type="text"], input[type="email"], input[type="number"], select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #99ddff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

h1, h2, h3 {
    color: #003366;
}
.login {
    background-color: aqua;
}
